VLLM_BASE_URL=http://127.0.0.1:9000/v1
VLLM_MODEL_NAME=qwen3-4b-ft
VLLM_API_KEY=EMPTY
CORS_ORIGINS=http://127.0.0.1:8080,http://localhost:8080
EMBEDDER_MODEL=intfloat/multilingual-e5-large-instruct
FASTAPI_HOST=127.0.0.1
FASTAPI_PORT=8000
